<div class="container mt-3">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Cover</th>
      <th scope="col" class="sortable" (click)="setSort('Title')">Title</th>
      <th scope="col" class="sortable" (click)="setSort('Author')">Author</th>
      <th scope="col" class="sortable" (click)="setSort('Genre')">Genre</th>
      <th scope="col" class="sortable" (click)="setSort('Pages')">Pages</th>
      <th scope="col"  style="width: 5vw" *ngIf="auth.isAuthenticated()"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of api.books | bookBind | sorting:sortingField:asc">
      <td class="align-middle">
        <a [routerLink]="['/book',book.ISBN]">
          <img src="{{book.coverURL}}" alt="Cover">
        </a>
      </td>
      <td class="align-middle"><a [routerLink]="['/book',book.ISBN]">{{book.Title}}</a></td>
      <td class="align-middle">{{book.Author}}</td>
      <td class="align-middle">{{book.Genre}}</td>
      <td class="align-middle">{{book.Pages}}</td>
      <td *ngIf="auth.isAuthenticated()" class="align-middle">
        <button class="btn btn-light" (click)="library.addToLibrary(book)" title="Add to Library" *ngIf="!library.inLibrary(book)">
          <i class="bi bi-book"></i>
        </button>
        <button class="btn btn-light text-secondary" (click)="library.removeFromLibrary(book)" title="Remove from Library" *ngIf="library.inLibrary(book)">
          <i class="bi bi-book-fill"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
