<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav w-100">
      <li class="nav-item" id="navbar-logo">
        <span class="nav-link navbar-brand">LibraEase</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[1] == 'books'}" [routerLink]="['books']">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[1] == 'library'}" [routerLink]="['library']" *ngIf="auth.isAuthenticated()">My Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[1] == 'admin'}" [routerLink]="['admin']" *ngIf="this.auth.user?.level == 1">Admin</a>
      </li>
      <li class="nav-item ms-auto" *ngIf="!auth.isAuthenticated()">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[1] == 'login'}" [routerLink]="['login']">Login</a>
      </li>
      <li class="nav-item ms-auto" *ngIf="auth.isAuthenticated()">
        <a class="nav-link disabled" aria-disabled="true">Hello, {{auth.user?.username}}</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" (click)="auth.logout()" [routerLink]="['login']">
          Log out
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
