<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[2] == 'books'}" [routerLink]="'./books'">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[2] == 'authors'}" [routerLink]="'./authors'">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[2] == 'publishers'}" [routerLink]="'./publishers'">Publishers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': this.router.url.toString().split('/')[2] == 'genres'}" [routerLink]="'./genres'">Genres</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
