<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="sortable" (click)="setSort()">Publisher</th>
      <th style="width: 10vw"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let publisher of api.publishers | sorting:'Name':asc">
      <td class="align-middle">{{publisher.Name}}</td>
      <td class="align-middle">
        <button class="btn btn-primary" (click)="onEdit(publisher)"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger ms-1" (click)="delete(publisher)"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="onNew()" *ngIf="!editVisible">New</button>
  <app-edit-publisher *ngIf="editVisible" (onFinish)="finishEdit()" [publisher]="currentPublisher" [isEditing]="isEditing"></app-edit-publisher>
</div>
