<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th style="width: 10vw"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of api.authors">
      <td class="align-middle">{{author.Name}}</td>
      <td class="align-middle">{{author.Surname}}</td>
      <td class="align-middle">
        <button class="btn btn-primary" (click)="onEdit(author)"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger ms-1" (click)="delete(author)"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="onNew()" *ngIf="!editVisible">New</button>
  <app-edit-author *ngIf="editVisible" (onFinish)="finishEdit()" [author]="currentAuthor" [isEditing]="isEditing"></app-edit-author>
</div>
