<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ISBN</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
      <th scope="col">Genre</th>
      <th scope="col">Pages</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of api.books | bookBind">
      <th scope="row">{{book.ISBN}}</th>
      <td>{{book.Title}}</td>
      <td>{{book.Author}}</td>
      <td>{{book.Publisher}}</td>
      <td>{{book.Genre}}</td>
      <td>{{book.Pages}}</td>
      <td>
        <button class="btn btn-primary" (click)="onEdit(book)"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger ms-1" (click)="delete(book)"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="onNew()" *ngIf="!editVisible">New</button>
  <app-edit-book *ngIf="editVisible" (onFinish)="finishEdit()" [book]="currentBook" [isEditing]="isEditing"></app-edit-book>
</div>
